body {
    background-color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
}
#index-main {
    max-width: 800px;
    margin:0 auto;
}
#ban {
    background-color: lightpink;
    font-family: Helvetica;
    font-size: large;
    text-align: center;
    height: 100px;
    margin: 0 auto;
    padding-left:190px;
    padding-top: 50px;
    padding-bottom: 10px;
}
header, footer {
    background-color: palevioletred;
    color: white;
    padding: 8px;
    border-radius: 15px;
}

header h1 {
    font-size:32px;
    padding-left: 95px;
}
main {
    padding: 0 15px;
}
main h2 {
    border-bottom: 1px solid black;
}
.profile {
    float: right;
    box-shadow: 0 0 17px black;
    max-width: 200px;
}
footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus {
    color: white;
}
footer a:hover {
    color: #DDD;
}
footer {
    clear:both;
    text-align:center;
}
footer p.legal {
    margin-bottom: 9px;
    font-size:.9em;
}
footer p.highlight {
    color: yellow ;
    font-size: .8em;
    margin-top:0;
}